---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
import Score from "../components/Score.astro";
import ImportGame from "../components/ImportGame.astro";
---

<Layout title="Wizard - Game History">
  <nav
    id="nav_container"
    class="boxbuttons self-center w-4/5 lg:w-3/5 fixed bottom-5 inset-x-0 mx-auto join flex justify-center items-center"
  >
    <button class="btn btn-secondary w-full join-item" id="share_button"
      >
      <Icon name="mi:share" class="w-6 h-6" />
      <p>Share the game</p></button
    >
  </nav>
  <div class="flex justify-center">
    <div
      class="flex justify-center flex-wrap flex-col p-5 w-full lg:w-1/2 md:w-2/3 md:h-2/3"
    >
      <div class="flex flex-nowrap items-center">
        <div class="" id="tl_container">
          <button class="btn btn-square btn-outline" id="tlbtn">
            <Icon name="mdi:chevron-left" class="w-6 h-6" />
          </button>
        </div>
        <div id="title" class="prose prose-sm md:prose-base w-full flex-grow">
          <h1 class="text-center text-6xl">Past Games</h1>
        </div>
      </div>

      <!--  -->
      <div
        id="past_games"
        class="flex flex-col flex-wrap items-center justify-center"
      >
      </div>
    </div>
  </div>
  <div class="hidden" id="score"><Score /></div>
  <!-- Settings modal -->
  <dialog id="modal_settings" class="modal modal-top sm:modal-middle">
    <form method="dialog" class="modal-box">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
        >✕</button
      >
      <div class="flex flex-col justify-center items-center">
        <h2 class="font-bold text-3xl mt-5">Advanced options</h2>
        <div>
          <a id="share_game" class="btn btn-info btn-block mt-2 hidden" target="_blank">
            Share this game
          </a>
          <button id="export_data" class="btn btn-info btn-block mt-5">
            Export Data</button
          >
          <button class="btn btn-info btn-block mt-2 import_data">
            Import Data
          </button>
          <button id="del_game" class="btn btn-primary btn-block mt-2 hidden">
            Delete this game
          </button>
          <button id="del_all" class="btn btn-primary btn-block mt-2">
            Delete all local data
          </button>
        </div>
      </div>
    </form>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
  <!-- End of Settings modal -->
  <!-- Really End game? modal -->
  <dialog id="modal_delete" class="modal modal-top sm:modal-middle">
    <form method="dialog" class="modal-box">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
        >✕</button
      >
      <div class="flex flex-col justify-center items-center">
        <h2 class="font-bold text-3xl mt-5" id="modal_del_text">
          Do you really want to delete all data?
        </h2>
        <p class="pl-10 pr-10" id="modal_del_infotext">
          This will remove all stored data about current and past games
          permanently!
        </p>
        <div>
          <!-- Cancel Game Button that navigates to / -->
          <button class="btn btn-primary btn-block mt-5" id="rremovedata">
            Remove Data
          </button>
          <button class="btn btn-info btn-block mt-2"> Cancel</button>
        </div>
      </div>
    </form>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
  <ImportGame />
</Layout>
<script
  is:inline
  src="https://code.jquery.com/jquery-3.7.0.min.js"
  integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
  crossorigin="anonymous"></script>
<script>
  import "../scripts/history.ts";
</script>

<style is:global>
  .card:hover .card--hover a,
  .card:hover {
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
  }

  .card {
    -webkit-box-flex: 300px;
    -ms-flex: 300px;
    flex: 300px;
    border-radius: 10px;
    border: 2px solid #c3c6ce;
    cursor: pointer;
    position: relative;
    transition: 0.5s ease;
  }
  .card:hover {
    border-color: #008bf8;
  }
  .card:hover .card--hover {
    opacity: 1;
  }
  .card:hover .card--hover a {
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    opacity: 1;
  }
  .card--hover {
    padding: 60px 0;
    text-align: center;
    opacity: 0.6;
    transition: 0.25s ease;
  }
  .card--hover h3 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
  }
  .card--hover p {
    margin: 10px 0 0;
  }
  .card--hover a {
    -webkit-transform: translate(-50%, 125%);
    -ms-transform: translate(-50%, 125%);
    transform: translate(-50%, 125%);
    border-radius: 20px;
    background-color: #7fefbd;
    color: #1a1a1a;
    padding: 8px 16px;
    display: inline-block;
    text-decoration: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.25s ease;
  }
</style>
