<div>
  <h1 class="impressum-title">Impressum</h1>
  <div class="text">
    <br />
    <p><b>Postanschrift</b></p>
    <p>Auf der Schanz 47</p>
    <p>85049 Ingolstadt</p>
    <br />
    <p><b>Kontakt:</b></p>
    <p>E-Mail:info@paulbertram.de</p>
  </div>
</div>

<style>
  .impressum-title {
    text-align: center;
  }

  .text {
    font: 1em "Roboto", sans-serif;
    text-align: center;
    margin: 0 auto;
    width: 50%;
  }
</style>
