---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
import Lightning from "../components/Lightning.astro";
import ImportGame from "../components/ImportGame.astro";
---

<Layout title="Wizzard!">
  <div class="wrapper flex justify-center items-center w-screen h-screen pb-10">
    <div class="box w-full p-5 lg:w-1/3 lg:h-1/3 lg:mt-10">
      <main>
        <div class="h-80 flex items-center justify-center">
          <img
            class="mt-0 w-full h-full lg:w-4/5"
            src="/witch.svg"
            alt="logo"
          />
        </div>
        <h1 class="text-center h-28 text-9xl">Wizzard</h1>
        <h2 class="text-center text-2xl" id="loading">Loading...</h2>
        <nav class="boxbuttons mt-10">
          <button class="btn btn-secondary mb-2 btn-block" id="new_game"
            ><span id="new_game_text">New game</span></button
          >
          <button class="btn btn-neutral mb-2 btn-block" id="resume_game"
            ><span>Resume game</span></button
          >
          <button class="btn btn-neutral mb-10 btn-block" id="recent_games"
            ><span>Past games</span></button
          >
        </nav>
      </main>
    </div>
  </div>

  <div class="credits float-left">
    <div class="flex flex-row w-1/2">
      <a
        href="https://github.com/PaulProjects/wizzard"
        class="w-full"
        aria-label="Github"
      >
        <Icon name="mdi:github" /></a
      >
      <button
        class="w-full"
        onclick="
        about.showModal()
        "
        id="buttonAbout"
        title="Open About Modal"><Icon name="mdi:help-circle-outline" /></button
      >
    </div>
  </div>
  <div class="legal float-right">
    <a class="underline pr-2" href="/Impressum/">Impressum</a>
    <a class="underline" href="/Datenschutz/">Datenschutz</a>
  </div>
  <!-- About Modal -->
  <dialog id="about" class="modal">
    <form method="dialog" class="modal-box">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
        >✕</button
      >
      <h1 class="font-bold text-xl">About</h1>
      <p class="py-4">
        This site is a score counter for the popular card game Wizard. It is
        still work in progress and I will add more features from time to time.
        If you have any suggestions or feedback, please let me know. Contact:
        hi@paulbertram.de Have fun!
      </p>
      <p class="py-4">
        Thanks to Jack Rugile for this awesome <a
          class="underline"
          href="https://codepen.io/jackrugile/pen/kQwPRO"
          >Lightning Background</a
        >
      </p>
      <p class="py-4">
        This site is not affiliated with Amigo Spiele or any other company. The
        game Wizard is a registered trademark of Amigo Spiele. This site is for
        private use only.
      </p>
      <p>
        If you exported an data from this site you can import it right back.
      </p>

      <button class="btn btn-info btn-block mt-4 import_data">
        Import Data
      </button>
      <button id="export_data" class="btn btn-info btn-block mt-2 hidden">
        Export Data</button
      >
    </form>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
  <!-- No Recent Game Modal -->
  <dialog id="alert_2" class="modal">
    <form method="dialog" class="modal-box">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
        >✕</button
      >
      <h1 class="font-bold text-lg">No past games found!</h1>
      <p class="py-4">
        There are no past games on record. Please finish a game. Make sure you
        don't delete this website's data in your browser, or you will lose your
        gamehistory.
      </p>
      <p>
        If you exported an active game at some point you can import it right
        back.
      </p>
      <div class="pb-5"></div>
      <button class="btn btn-info btn-block mt-2 import_data">
        Import Data
      </button>
      <button id="export_data" class="btn btn-info btn-block mt-2">
        Export Data</button
      >
      <button class="btn btn-info btn-block mt-4"> Cancel</button>
    </form>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
  <ImportGame />
  <Lightning />
</Layout>

<style>
  .boxbuttons {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .credits {
    width: 150px;
    height: 50px;
  }

  .legal {
    width: 200px;
    height: 50px;
  }
</style>
<script>
  //onclick on the new game button, add a loading spinner
  document.getElementById("new_game").addEventListener("click", function () {
    const newGameText = document.getElementById("new_game_text");
    newGameText.innerHTML = `Loading...`;
    location.href = "/setup/";
  });

  document.getElementById("resume_game").addEventListener("click", function () {
    if (localStorage.getItem("game") !== null) {
      location.href = "/game/";
    } else {
      document.getElementById("alert_1").showModal();
    }
  });

  document
    .getElementById("recent_games")
    .addEventListener("click", function () {
      if (localStorage.getItem("recent_games") !== null) {
        location.href = "/history/";
      } else {
        document.getElementById("alert_2").showModal();
      }
    });

  document.onreadystatechange = function () {
    if (document.readyState === "complete") {
      document.getElementById("loading").classList.add("hidden");
    }

    if (localStorage.getItem("game") == null) {
      document.getElementById("resume_game").classList.add("hidden");
    }

    if (localStorage.getItem("recent_games") == null) {
      document.getElementById("recent_games").classList.add("hidden");
    }
    
    if(localStorage.getItem("game") !== null || localStorage.getItem("recent_games") !== null){
      document.getElementById("export_data").classList.remove("hidden");
    }
  };
</script>
