---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
import Lightning from "../components/Lightning.astro";
import ImportGame from "../components/ImportGame.astro";
---

<Layout title="Wizzard!">
  <div class="wrapper flex justify-center items-center w-screen h-screen pb-10">
    <div class="box w-full p-5 md:w-1/2 lg:h-1/2 lg:mt-10">
      <main>
        <div class="h-80 flex items-center justify-center">
          <img
            class="mt-0 w-full h-full lg:w-4/5"
            src="/witch.svg"
            alt="logo"
          />
        </div>
        <h1 class="text-center h-28 text-9xl">Wizzard</h1>
        <h2 class="text-center text-2xl" id="loading">Loading...</h2>
        <nav class="boxbuttons mt-10">
          <button class="btn btn-secondary mb-2 btn-block" id="new_game"
            ><a href="/setup"><span id="new_game_text">New game</span></a
            ></button
          >
          <button class="btn btn-neutral mb-2 btn-block" id="resume_game"
            ><a href="/game"><span>Resume game</span></a></button
          >
          <button class="btn btn-neutral mb-10 btn-block" id="past_games"
            ><a href="/history"><span>Past games</span></a></button
          >
        </nav>
      </main>
    </div>
  </div>

  <div class="credits float-left">
    <div class="flex flex-row w-1/2">
      <a
        href="https://github.com/PaulProjects/wizzard"
        class="w-full"
        aria-label="Github"
        title="Github"
        target="_blank"
      >
        <Icon name="mdi:github" /></a
      >
      <button
        class="w-full"
        onclick="
        about.showModal()
        "
        id="buttonAbout"
        title="Open About Modal"><Icon name="mdi:help-circle-outline" /></button
      >
    </div>
  </div>
  <div class="legal float-right">
    <a class="underline pr-2" href="/Impressum/">Impressum</a>
    <a class="underline" href="/Datenschutz/">Datenschutz</a>
  </div>
  <!-- About Modal -->
  <dialog id="about" class="modal">
    <form method="dialog" class="modal-box">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
        >✕</button
      >
      <h1 class="font-bold text-xl">About</h1>
      <p class="pt-2 pb-4">
        This site is a score counter for the popular card game Wizard. It is
        still work in progress and I will add more features from time to time.
        If you have any suggestions or feedback, <a
          class="underline"
          href="mailto:hi@paulbertram.de">let me know</a
        >.
      </p>
      <h1 class="font-bold text-xl">Credits</h1>
      <div class="pt-2 pb-4">
        <a
          class="underline"
          href="https://codepen.io/jackrugile/pen/kQwPRO"
          target="_blank"><span>Lightning Background</span></a
        >
        &
        <a
          class="underline"
          href="https://codepen.io/jmolund/pen/jBqyqK"
          target="_blank"><span>ScoreBoard</span></a
        >
      </div>
      <h1 class="font-bold text-xl">Disclaimer</h1>
      <p class="pt-2 pb-4">
        This site is not affiliated with Amigo Spiele or any other company. The
        game Wizard is a registered trademark of Amigo Spiele. This site is for
        private use only.
      </p>
      <h1 class="font-bold text-xl">Actions</h1>
      <p class="pt-2 pb-4">You can delete, import and export the games.</p>

      <button class="btn btn-info btn-block mt-2 import_data">
        Import Data
      </button>
      <button id="export_data" class="btn btn-info btn-block mt-2">
        Export Data</button
      >
      <button id="delete_data" class="btn btn-primary btn-block mt-2">
        Delete all Data</button
      >
    </form>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
  <!-- Really delete all data Modal -->
  <dialog id="alert_delete" class="modal">
    <form method="dialog" class="modal-box">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
        >✕</button
      >
      <h1 class="font-bold text-lg">Really delete all data?</h1>
      <p class="py-4">
        This will delete all data stored in your browser. This includes the
        current game and all past games. You can't undo this action.
      </p>
      <button id="del_data" class="btn btn-warning btn-block mt-4"
        >Delete all Data</button
      >
      <button class="btn btn-info btn-block mt-2"> Cancel</button>
    </form>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
  <ImportGame />
  <Lightning />
  <style>
    .boxbuttons {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .credits {
      width: 150px;
      height: 50px;
    }

    .legal {
      width: 200px;
      height: 50px;
    }
  </style>
  <script>
    import { gamedata } from "../scripts/gamedata";

    //* Function to validate game data stored in local storage */
    function validateGame(): boolean {
      if (!localStorage.getItem("game")) {
        return false;
      }

      try {
        gamedata.fromJSONstring(localStorage.getItem("game"));
      } catch (error) {
        console.error("Error validating game data: " + error);
        return false;
      }
      return true;
    }

    document.onreadystatechange = function () {
      //hide loading text when page is loaded
      if (document.readyState === "complete") {
        document.getElementById("loading").classList.add("hidden");
      }

      //hide past games button if no past games are stored
      if (!localStorage.getItem("recent_games")) {
        document.getElementById("past_games").classList.add("hidden");
      }

      //hide resume game button if no valid game is stored
      if (!validateGame()) {
        document.getElementById("resume_game").classList.add("hidden");
      }

      //hide export data button if there is nothing to export
      if (
        !localStorage.getItem("game") &&
        !localStorage.getItem("recent_games") &&
        !localStorage.getItem("playerlist")
      ) {
        document.getElementById("export_data").classList.add("hidden");
      }
    };

    //loading indicator when new game is clicked
    document.getElementById("new_game").addEventListener("click", function () {
      location.href = "/setup";
      document.getElementById("new_game_text").innerHTML = `Loading...`;
    });

    document
      .getElementById("delete_data")
      .addEventListener("click", function () {
        (
          document.getElementById("alert_delete") as HTMLDialogElement
        ).showModal();
      });

    document.getElementById("del_data").addEventListener("click", function () {
      localStorage.clear();
      location.reload();
    });
  </script>
</Layout>
