---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
import Rule from "../components/Rule.astro";
import Alert from "../components/Alert.astro";

import {} from "../scripts/setup.ts";
---

<Layout title="Configure the game.">
  <div class="wrapper flex justify-center items-center w-full h-full">
    <div class="flex justify-center flex-wrap flex-col p-5 lg:w:1/3 lg:h-2/3">
      <div class="flex justify-between items-center">
        <div id="tl_container">
          <button
            class="btn btn-square btn-outline"
            id="tlbtn"
            aria-label="Back"
          >
            <Icon name="mdi:chevron-left" class="w-6 h-6" />
          </button>
        </div>
        <div
          id="title"
          class="prose prose-sm md:prose-base flex-grow text-center"
        >
          <h1 class="text-center text-6xl">Setup</h1>
        </div>
        <button
          class="btn float-right"
          onclick="modal_info.showModal(); "
          id="help"
          aria-label="Help">?</button
        >
      </div>
      <h2 class="text-center text-2xl" id="loading">Loading...</h2>
      <!-- Player list -->
      <div class="lg:pr-10 lg:pl-10">
        <div class="pb-5">
          <h2 class="pt-10 text-3xl">Players (3-6)</h2>
        </div>

        <!-- new player button and modal -->
        <button
          class="input input-bordered input-primary w-full"
          id="showmodal"
          onclick="modal_addplayer.showModal();"><p>New Player</p></button
        >
        <!-- Add Player modal -->
        <dialog id="modal_addplayer" class="modal modal-top sm:modal-middle">
          <form method="dialog" class="modal-box">
            <button
              class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
              >✕</button
            >
            <div class="flex flex-col justify-center items-center">
              <h1 class="font-bold text-3xl mt-5">Add a Player!</h1>
              <input
                type="text"
                placeholder="Player Name"
                id="input_playername"
                aria-label="Playername"
                class="input input-bordered input-primary w-2/3 mt-10 mb-3"
              />
              <button
                class="input input-bordered input-primary w-2/3"
                id="addPlayer"><p>Add Player</p></button
              >
              <div id="recent_players" class="mt-3"></div>
            </div>
          </form>
          <form method="dialog" class="modal-backdrop">
            <button>close</button>
          </form>
        </dialog>
        <!-- End of modal -->
        <div class="flex flex-col names pt-2">
          <div id="playerlist"></div>
        </div>
      </div>
      <!-- End Player list -->

      <!-- Game options -->
      <div class="lg:pl-10 lg:pr-10">
        <h2 class="pt-10 text-3xl w-full">Rules</h2>
        <div class="pt-2"></div>
        <!-- +-1 Rule Start -->
        <Rule
          title="±1 Rule"
          description="Requires the amount of possible bids to differ from the total amount of tricks"
          js_id="rule_1"
        />
        <div class="pt-5"></div>
        <Rule
          title="Random dealer"
          description="Randomly select the dealer for the first round."
          js_id="rule_random_dealer"
        />
        <div class="pt-5"></div>
        <Rule
          title="Expansion"
          description="No more checks if the the amount of tricks fits."
          js_id="rule_expansion"
        />
        <div class="pt-5"></div>
        <Rule
          title="Crowd Chaos"
          description="No more limitations on the amount of players. (still need at least 2 players)"
          js_id="rule_crowdchaos"
        />
        <div class="pt-5"></div>

        <!-- Start of calc options -->
        <h2 class="pt-10 text-3xl w-full">Score calculation</h2>
        <div class="pt-2"></div>
        <div class="optionbox-flex pr-10 pl-3">
          <div class="form-control">
            <div
              class="flex flex-row items-center h-full w-full"
              id="calc_classic_box"
            >
              <div class="form-control pl-3">
                <label class="cursor-pointer label">
                  <input
                    type="radio"
                    name="calc"
                    aria-label="radio button to toggle automatic rounds"
                    class="radio checked:bg-blue-500"
                    id="calc_classic"
                    checked
                  />
                </label>
              </div>
              <div
                class="flex flex-col h-full justify-center pt-4 pb-4 pr-10 pl-2"
              >
                <span class="label-text text-xl bold font-bold w-full"
                  >Classic</span
                >
                <span class="label-text text-sm bold w-full"
                  >Calculate the score according to the ruleset</span
                >
              </div>
            </div>
            <div
              class="flex flex-row items-center h-full w-full"
              id="calc_alt_box"
            >
              <div class="form-control pl-3">
                <label class="cursor-pointer label">
                  <input
                    type="radio"
                    name="calc"
                    aria-label="radio button to toggle custom rounds"
                    class="radio checked:bg-blue-500"
                    id="calc_alt"
                  />
                </label>
              </div>
              <div
                class="flex flex-col h-full justify-center pt-4 pb-4 pr-10 pl-2"
              >
                <span class="label-text text-xl bold font-bold w-full"
                  >Custom</span
                >
                <span class="label-text text-sm bold w-full"
                  >Use an alternative counting system thats less punishing towards a bad hand</span
                >
              </div>
            </div>
          </div>
        </div>
        <!-- End of calc options -->

        <!-- Start of round options -->
        <h2 class="pt-10 text-3xl w-full">Rounds</h2>
        <div class="pt-2"></div>
        <div class="optionbox-flex pr-10 pl-3">
          <div class="form-control">
            <div
              class="flex flex-row items-center h-full w-full"
              id="rounds_auto_box"
            >
              <div class="form-control pl-3">
                <label class="cursor-pointer label">
                  <input
                    type="radio"
                    name="rounds"
                    aria-label="radio button to toggle automatic rounds"
                    class="radio checked:bg-blue-500"
                    id="rounds_auto"
                    checked
                  />
                </label>
              </div>
              <div
                class="flex flex-col h-full justify-center pt-4 pb-4 pr-10 pl-2"
              >
                <span class="label-text text-xl bold font-bold w-full"
                  >Automatic</span
                >
                <span class="label-text text-sm bold w-full"
                  >Play the amount of rounds from the ruleset</span
                >
              </div>
            </div>
            <div
              class="flex flex-row items-center h-full w-full"
              id="rounds_custom_box"
            >
              <div class="form-control pl-3">
                <label class="cursor-pointer label">
                  <input
                    type="radio"
                    name="rounds"
                    aria-label="radio button to toggle custom rounds"
                    class="radio checked:bg-blue-500"
                    id="rounds_custom"
                  />
                </label>
              </div>
              <div
                class="flex flex-col h-full justify-center pt-4 pb-4 pr-10 pl-2"
              >
                <span class="label-text text-xl bold font-bold w-full"
                  >Custom</span
                >
                <span class="label-text text-sm bold w-full"
                  >Set a custom amount of rounds</span
                >
              </div>
            </div>
            <div
              class="pt-2 flex items-center pl-4 pb-4 transition ease-in duration-300"
              id="range_container"
            >
              <input
                type="number"
                id="range_val"
                class="input input-secondary w-14 text-center"
                min="1"
                max="20"
                value="10"
                id="range_val"
              />
              <input
                type="range"
                min="1"
                max="20"
                value="10"
                class="range ml-2"
                id="rounds_custom_range"
              />
            </div>
          </div>
        </div>
        <!-- End of round options -->

        <div
          class="rounded-md border-indigo-500 border-2 pt-5 pl-5 pr-5 pb-5 mt-10"
        >
          <nav class="boxbuttons self-center w-full">
            <button
              class="btn btn-primary btn-disabled btn-block"
              id="start_button"><p>Start game</p></button
            >
          </nav>
          <Alert title="Please add at least 3 players" js_id="alert_players" />
          <Alert
            title="Please enter valid player names"
            js_id="alert_invalidplayers"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- Info modal -->
  <dialog id="modal_info" class="modal modal-top sm:modal-middle">
    <form method="dialog" class="modal-box">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
        >✕</button
      >
      <div class="flex flex-col justify-center items-center">
        <h2 class="font-bold text-3xl mt-5">Info</h2>
        <div class="prose">
          <p class="pb-2">Wizzard can be played in a group of 3-6 Players</p>
          <p class="pb-2">
            For each player click on New Player and then enter their name
          </p>
          <p class="pb-2">
            The list of players can be rearranged by holding and dragging. The
            checkbox besides the playernames determinds the dealer for the first
            round.
          </p>
        </div>
        <button class="btn btn-secondary mt-5 btn-block" formmethod="dialog"
          >OK</button
        >
      </div>
    </form>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
  <!-- End of modal -->
  <!-- Start of edit preset and recent players modal -->
  <dialog id="modal_edit" class="modal modal-top sm:modal-middle">
    <form method="dialog" class="modal-box">
      <button
        class="btn btn-sm btn-ghost absolute left-2 top-2"
        id="test-preset">test</button
      >
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
        >✕</button
      >
      <div class="flex flex-col justify-center items-center">
        <h2 class="font-bold text-3xl mt-5 mb-3">Past games setups:</h2>

        <div class="flex flex-col w-full gap-2" id="presets"></div>

        <div class="mt-5"></div>
        <button class="btn btn-primary btn-block mt-2" id="clearrecent"
          ><p>Clear Recent Players</p></button
        >
      </div>
    </form>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
  <!-- Invalid Playername -->
  <dialog id="alert_invalidplayer" class="modal modal-top sm:modal-middle">
    <form method="dialog" class="modal-box">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
        >✕</button
      >
      <div class="flex flex-col justify-center items-center">
        <h2 class="text-3xl mt-5">Invalid Playername</h2>
        <div class="prose">
          <p class="pb-2 text-center">Please enter a valid player name</p>
          <p class="pb-2 text-center">2 - 15 characters</p>
          <button
            class="btn btn-secondary mt-5 btn-block"
            formmethod="dialog"
            id="ok_invalidplayer">OK</button
          >
        </div>
      </div>
      <form method="dialog" class="modal-backdrop"></form>
    </form>
  </dialog>

  <style is:global>
    .optionbox {
      width: 100%;
      height: 6rem;
      border-left: solid rgb(99 102 241);
      background-color: rgba(240, 251, 239, 0.1);
    }
    .optionbox-flex {
      width: 100%;
      border-left: solid rgb(99 102 241);
      background-color: rgba(240, 251, 239, 0.1);
    }
  </style>

  <style>
    @keyframes append-animate {
      from {
        transform: scaleY(0);
        opacity: 0;
      }
      to {
        transform: scaleY(1);
        opacity: 1;
      }
    }

    .appear {
      transform-origin: 50% 0;
      animation: append-animate 0.3s linear;
    }

    @media (hover: hover) {
      .wlabel a:hover {
        --tw-text-opacity: 1;
        color: hsl(var(--bc) / var(--tw-text-opacity));
      }
    }
    .wlabel {
      display: flex;
      user-select: none;
      align-items: center;
      padding-left: 0.25rem /* 4px */;
      padding-right: 0.25rem /* 4px */;
      padding-top: 0.5rem /* 8px */;
      padding-bottom: 0.5rem /* 8px */;
    }
    .btm-nav > * .wlabel {
      font-size: 1rem /* 16px */;
      line-height: 1.5rem /* 24px */;
    }

    .bg_grey {
      background-color: rgba(240, 251, 239, 0.1);
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    input[type="number"] {
      -moz-appearance: textfield; /* Firefox */
    }
  </style>

  <script
    is:inline
    src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
    crossorigin="anonymous"></script>
  <script
    is:inline
    src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"
  ></script>
  <script>
    import "../scripts/setup.ts";
  </script>
</Layout>
