---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Wizard - shared game">
  <div id="start" class="hidden max-w-2xl mx-auto">
    <div class="flex pt-5 justify-center h-screen">
      <div class="text-center w-full px-10">
        <h1 class="text-4xl font-bold">Shared Wizard Game</h1>
        <p id="import_id" class="text-md inline font-sans">Loading...</p>
        <canvas
          id="qr_canvas"
          class="mx-auto border-2 border-gray-300 rounded-md mt-5"></canvas>
        <div class="card mt-10 bg-base-200 w-full" id="import_card">
          <div class="card-body w-full h-full">
            <div class="w-full h-8">
              <span class="float-left" id="date"></span>
              <span class="float-right" id="duration"> Minutes</span>
            </div>
            <div class="overflow-x-auto">
              <table class="table">
                <!-- head -->
                <thead>
                  <tr>
                    <th>Position</th>
                    <th>Name</th>
                    <th>Points</th>
                  </tr>
                </thead>
                <tbody id="import_table"> </tbody>
              </table>
            </div>
          </div>
        </div>
        <br />
        <button class="btn btn-block btn-secondary" id="copy-url"
          >Copy link</button
        >
        <div class="pt-4"></div>
        <button class="btn btn-block btn-secondary" id="import-game"
          >Import the game</button
        >
        <div class="pt-4"></div>
        <a href="/" class="btn btn-block btn-secondary">Back to home</a>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-center h-screen" id="loading">
    <div class="text-center">
      <span class="loading loading-infinity loading-lg"></span>
      <h1 class="text-2xl font-bold">Loading game...</h1>
    </div>
  </div>
  <div id="error" class="hidden">
    <div class="flex items-center justify-center h-screen">
      <div class="text-center">
        <Icon name="mdi:alert-circle-outline" class="text-red-500 w-16 h-16" />
        <br />
        <h1 class="text-2xl font-bold">Error</h1>
        <p id="errorcode"></p>
        <br />
        <a href="/" class="btn btn-block btn-secondary">Back to home</a>
      </div>
    </div>
  </div>
  <div class="hidden" id="success">
    <div class="flex items-center justify-center h-screen">
      <div class="text-center">
        <Icon
          name="mdi:check-circle-outline"
          class="text-green-500 w-16 h-16"
        />
        <h1 class="text-2xl font-bold">Success</h1>
        <p id="success_message">The game has been imported successfully.</p>
        <br />
        <a href="/history" id="view_game" class="btn btn-block btn-secondary"
          >View Game</a
        >
        <div class="pt-4"></div>
        <a href="/" class="btn btn-block btn-secondary">Back to home</a>
      </div>
    </div>
  </div>
</Layout>
<script
  is:inline
  src="https://code.jquery.com/jquery-3.7.0.min.js"
  integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
  crossorigin="anonymous"></script>

<script>
  import "../scripts/share.ts";
</script>
