---
import Modal from './Modal.astro';
---

<div>
  <div class="wrapper flex justify-center items-center w-full h-full">
    <div
      class="flex justify-center flex-wrap flex-col p-2 md:p-5 w-full lg:w-2/3 lg:h-2/3"
    >
      <div id="input-container" class="lg:pr-10 lg:pl-10">
        <div class="pb-5 sticky top-0">
          <h2 class="text-3xl text-center" id="round"></h2>
          <h2 class="text-xl text-center" id="total">Total: 0</h2>
        </div>
      </div>
      <div
        id="players"
        class="flex flex-col flex-wrap items-center justify-center"
      >
      </div>
    </div>
  </div>
  <div class="py-20"></div>
  <Modal
    id="alert_1"
    title="Warning"
    icon="mdi:alert-outline"
    iconClass="text-warning"
    modalClass="modal"
  >
    <p class="py-4">
      The +-1 Rule is enabled. Make sure that the total amount of bets differs
      from the possible amount
      <span class="text-secondary text-xs">(you can disable the rule in the settings (graph icon - settings - Rules - +-1 Rule))</span>
    </p>
  </Modal>
  <Modal
    id="alert_2"
    title="Warning"
    icon="mdi:alert-outline"
    iconClass="text-warning"
    modalClass="modal"
  >
    <p class="py-4">
      The amount of possible tricks does not match the amount the entered
      tricks.
    </p>
  </Modal>
  <Modal
    id="alert_blindentry"
    title="Blind Entry Active"
    icon="mdi:lock-outline"
    iconClass="text-info"
    modalClass="modal"
  >
    <p class="py-4">
      All players need to enter their bets first before you can proceed. Each player must unlock and lock their bet entry to confirm.
    </p>
  </Modal>
</div>

<style>
  * {
    --padding-card: 1rem;
  }
</style>
